.icon {
	display: inline-block;
	height: auto;
	position: relative;
	@include fontZero;

	&--center {
		display: flex;
		height: 100%;
		position: relative;
		width: 100%;
	}
	
	svg {
		max-height: 100%;
		max-width: 100%;
		overflow: visible;
		transition: opacity .3s ease-out;
		
		path,
		rect {
			transition: fill .3s ease-out;
		}
	}

	&--center svg {
		height: auto;
		margin: auto;
		width: auto;
	}
}