# Laravel & PHP specific
/vendor/
node_modules/
public/build
public/hot
public/storage
storage/*.key
bootstrap/cache
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/phpactor.json

# IDE specific
/.idea
/.vscode
/.fleet

# Debug & logs
npm-debug.log
yarn-error.log

# Homestead & Vagrant specific
Homestead.json
Homestead.yaml
/.vagrant

# Miscellaneous
auth.json
.DS_Store