/* * * * * * * * * * * * * *
	FORMS
* * * * * * * * * * * * * */

form {
	clear: both;
	width: 100%;
	
	:focus {
		outline-offset: -3px;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

label {
	display: block;
	margin-bottom: $colMarginThird;
	@include fontTitle;
}

input,
select,
optgroup,
textarea {
	color: var(--lt-color-text-primary);
	font-family: $fontText;
	margin: 0;
	vertical-align: top;
	@include fontRead($fontSizeDefault);
}

input,
select,
textarea {
	background: var(--lt-color-bg-primary);
	border: 1px solid var(--lt-color-border-secondary);
	border-radius: 3px;
	width: 100%;
}

input,
select {
	height: 45px;
}

input[type="text"],
textarea,
button {
	-webkit-appearance: none;
}

input {
	overflow: visible;
	padding: 0 $colMarginThird;
}

input[type="file"] {
	border-radius: 0;
	border: 0;
	height: auto;
	padding: 0;
	width: auto;
}

[type="checkbox"],
[type="radio"] {
	height: auto;
	padding: 0;
	vertical-align: middle;
	width: auto;
}

select {
	text-transform: none;
}

.select2-container {
	max-width: 100%;
	min-width: 100%;

	.select2-selection {
		&.select2-selection--single {
			border-radius: 3px;
			border: 1px solid var(--lt-color-border-secondary);
			height: 45px;
	
			.select2-selection__rendered {
				color: var(--lt-color-text-primary);
				line-height: 45px;
			}
		
			.select2-selection__arrow {
				height: 44px;

				b {
					border-top-color: var(--lt-color-border-secondary);
				}
			}
		}
	}
}

textarea {
	height: 90px;
	overflow: auto;
	padding: $colMarginThird;
	resize: none;
}

[hidden] {
	display: none;
}

.cf-turnstile {
	div {
		display: flex;
		justify-content: center;
	}
}