.wrapper {
	clear: both;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-width: $siteMinWidth;
	position: relative;
	width: 100%;
	max-width: $siteMaxWidth;

	@include media($tablet, max) {
		padding: 0 $colMarginHalf;
	}

	@include media($tablet, min) {
		padding: 0 $colMargin;
	}

	&--content {
		max-width: var(--lt-content-max-width);
	}
	
	&--max {
		max-width: 100%;
	}
}