.form {
	&__fields {
		display: flex;
		flex-wrap: wrap;
		gap: $colMarginHalf;
	}

	&__field {
		&--1-1 {
			width: 100%;
		}

		&--1-2 {
			@include media($phablet, max) {
				width: 100%;
			}
		
			@include media($phablet, min) {
				width: calc(50% - calc(#{$colMarginHalf} / 2));
			}

			@include mediaMaxMin($desktop, $tablet) {
				width: 100%;
			}
		}

		&--time {
			column-gap: $colMarginThird;
			display: flex;
			flex-wrap: wrap;

			input {
				width: 50%;
			}

			label {
				flex-shrink: 0;
				margin: 12.5px 0 0 0;
			}
		}
	}
}